!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    .container
      .row
        .small-12.medium-6.medium-offset-3.large-4.large-offset-4.columns
          - if flash[:notice]
            .alert-box.info.radius{data: { alert: true }}
              = flash[:notice]
              %a.close &times;
          - if flash[:alert]
            .alert-box.alert.radius{data: { alert: true }}
              = flash[:alert]
              %a.close &times;
    = yield
    = javascript_include_tag "application", 'data-turbolinks-track' => true
